<ActionBar title="Practice Buddy" icon="">
</ActionBar>
<StackLayout id="container" height="350">
  <Label class="heading" [text]="title" textWrap="true"></Label>   
  <Image [src]="isLoggingIn ? 'res://logo_login' : 'res://logo_signup'" id="logo" stretch="none" horizontalAlignment="center"></Image>
  <TextField [(ngModel)]="user.email" hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none" [color]="isLoggingIn ? 'black' : 'white'"></TextField>
  <TextField [(ngModel)]="user.password" secure="true" hint="Password" [color]="isLoggingIn ? 'black' : 'white'"></TextField>
  <Button [text]="isLoggingIn ? 'Sign in' : 'Sign up'" id="submit-button" (tap)="login()"></Button>
  <Button text="Sign up" [nsRouterLink]="['/Register']"></Button>
</StackLayout>
